In [2]:
import pandas as pd
import json
import glob

In [3]:
data = pd.read_csv('C:/Nikita/Dataset Clothing/sizes_database.csv', sep = ',', header = 0, index_col = 0)

In [4]:
data.sort_values(by='File size')

,File,Path,File size,Pic dimensions
65588,1608.jpg,C:/Nikita/Dataset Clothing/dataset\camisas\160...,0,NaN
83916,3574.jpg,C:/Nikita/Dataset Clothing/dataset\jeans\3574.jpg,0,NaN
65567,1587.jpg,C:/Nikita/Dataset Clothing/dataset\camisas\158...,0,NaN
73887,5310.jpg,C:/Nikita/Dataset Clothing/dataset\camisetas\5...,2697,"(222, 333)"
73310,4791.jpg,C:/Nikita/Dataset Clothing/dataset\camisetas\4...,2736,"(222, 333)"
...,...,...,...,...
20534,1397.jpg,C:/Nikita/Dataset Clothing/Dataset\calcetines\...,1046299,"(3200, 4480)"
21425,907.jpg,C:/Nikita/Dataset Clothing/Dataset\calcetines\...,1143013,"(3200, 4480)"
58507,907.jpg,C:/Nikita/Dataset Clothing/dataset\calcetines\...,1143013,"(3200, 4480)"
21405,884.jpg,C:/Nikita/Dataset Clothing/Dataset\calcetines\...,1151734,"(3200, 4480)"
58487,884.jpg,C:/Nikita/Dataset Clothing/dataset\calcetines\...,1151734,"(3200, 4480)"

In [5]:
data.sort_values(by = 'File')

,File,Path,File size,Pic dimensions
5784,0.jpg,C:/Nikita/Dataset Clothing/Dataset\alpargatas\...,18345,"(626, 800)"
50867,0.jpg,C:/Nikita/Dataset Clothing/dataset\bodies\0.jpg,89435,"(871, 1110)"
86243,0.jpg,C:/Nikita/Dataset Clothing/dataset\jerseys\0.jpg,126369,"(871, 1110)"
51264,0.jpg,C:/Nikita/Dataset Clothing/dataset\bolsos-y-mo...,88103,"(1001, 1400)"
53870,0.jpg,C:/Nikita/Dataset Clothing/dataset\botas\0.jpg,79490,"(900, 1200)"
...,...,...,...,...
122821,999.jpg,C:/Nikita/Dataset Clothing/dataset\zapatillas\...,25160,"(620, 620)"
100457,999.jpg,C:/Nikita/Dataset Clothing/dataset\sandalias\9...,67945,"(870, 1110)"
27891,999.jpg,C:/Nikita/Dataset Clothing/Dataset\camisas-y-b...,55300,"(870, 1110)"
109420,999.jpg,C:/Nikita/Dataset Clothing/dataset\sudaderas\9...,83917,"(871, 1110)"
124122,999.jpg,C:/Nikita/Dataset Clothing/dataset\zapatos\999...,93740,"(871, 1110)"

In [30]:
# max_items = 0
# for file in glob.glob('C:/Nikita/Dataset Clothing/annotations/**/*.json', recursive=True):
#     try:
#         with open(file, "r") as read_file:
#             jsfile = json.load(read_file)
#     except:
#         print('Failed to read the json file, I don\'t know why')
#     items_qty = len(jsfile['arr_boxes'])        
#     if items_qty > max_items:
#         max_items = items_qty
#         max_items_pic = jsfile['file_name']

In [1]:
# for file in glob.glob('C:/Nikita/Dataset Clothing/annotations/**/*.json', recursive=True):
#     print(file)

In [17]:
annotations = pd.DataFrame()
annotations['File'] = True
annotations['Smallest box dimension'] = True
annotations

Empty DataFrame
Columns: [File, Smallest box dimension]
Index: []

In [18]:
for file in glob.glob('C:/Nikita/Dataset Clothing/annotations/**/*.json', recursive=True):
    try:
        with open(file, "r") as read_file:
            jsfile = json.load(read_file)
    except:
        print('Failed to read the json file, I don\'t know why')
    smallest_box_dimension = min(jsfile['arr_boxes'][0]['width'], jsfile['arr_boxes'][0]['height'])
    for item in jsfile['arr_boxes']:
        if min(item['width'], item['height']) < smallest_box_dimension:
            smallest_box_dimension = min(item['width'], item['height'])
    annotations = annotations.append({'File': jsfile['file_name'], 'Smallest box dimension': smallest_box_dimension}, ignore_index = True)

In [19]:
annotations.sort_values(by = 'Smallest box dimension')

                                    File  Smallest box dimension
38087          dataset/cardigans/222.jpg               13.964172
75586          dataset/vestidos/1054.jpg               13.991430
25735  dataset/camisas-y-blusas/4556.jpg               14.343401
27136  dataset/camisas-y-blusas/5852.jpg               14.343401
33833         dataset/camisetas/2658.jpg               14.530540
...                                  ...                     ...
46783             dataset/jeans/3818.jpg             2234.020352
36420         dataset/camisetas/5130.jpg             3376.546060
68756         dataset/sudaderas/3501.jpg             3712.970139
66739         dataset/sudaderas/1558.jpg             3712.970139
49237           dataset/jerseys/1343.jpg             3790.254094

[86612 rows x 2 columns]

In [20]:
# annotations.to_csv('C:/Nikita/Dataset Clothing/box_sizes.csv', header = True, index = True)

In [38]:
max_items
max_items_pic

'dataset/bisuteria/1546.jpg'